#wrapper{
	margin-top: 3.5rem;
}

.main-container{
	margin-bottom: 3.5rem;
}

.shadow-lite{
	box-shadow: 0 1px 6px rgba(0,0,0,0.26);
}

.shadow-deep{
	box-shadow: 0 2px 10px rgba(0,0,0,.2)
}

.con-radius{
	border-radius: .5rem;
}

.hover-shodow{
	transition: all 0.5s;
}

.hover-shadow:hover{
	box-shadow: 0 1px 8px rgba(0,0,0,0.3);
	transition: all 0.3s;
}

.text-none{
	color: #212529;
}

.text-none:hover{
	color: #212529;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.kv{
	position: relative;
	height: 20vh;
	min-height: 300px;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	border-radius: 0;
}

.kv-text{
	font-family: "Orbitron";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 68px;
	font-size: 8rem;
	opacity: .9;
	background-color: rgba(255,255,255,0);
}

.link-textsize{
	font-size: 20px;
}

@media screen and ( max-width: 960px ){
	.kv{
		position: relative;
		height: 20vh;
		min-height: 150px;
	}

	.kv-text{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 49px;
		font-size: 4rem;
		opacity: .9;
		background-color: rgba(255,255,255,0);
	}

	.link-textsize{
		font-size: 14px;
	}

}

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
/*  stroke-width: 6;*/
  /*stroke-miterlimit:10;*/
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.7;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 	}
}

@keyframes show {
  0% {
    opacity: 0.8;
 	}

  50% {
    opacity: 0.9;
 	}

  100% {
    opacity: 0.8;
 	}
}
